:root {
    --mainBlue: #5051F9;
    --navbg: white;
    --mainBg: #F3F4F8;
    --lightBlue: #1EA7FF;
    --blue: #23235F;
    --menubg: #FBFAFF;
    --desciption: #768396;
    --item: white;
    --research: #1EA7FF;
    --content: #0ACF83;
    --planning: #FE7F2E;
    --addBg: #E8EAFF;
    --plusBg: #5051F9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--blue);
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('ttf'),
    url('../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: var(--mainBg);
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.auth {
    background: var(--item);
    color: var(--blue);
}

.auth input{
    background: var(--mainBg);
    outline: none;
    color: var(--blue);
}