:root {
    --mainBlue: #5051F9;
    --navbg: white;
    --logbtn: #3484F4;
    --blue: #23235F;
    --menubg: #FBFAFF;
    --desciption: #768396;
    --research: #1EA7FF;
    --content: #0ACF83;
    --planning: #FE7F2E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('ttf'),
    url('../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: #F3F4F8;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}